<div class="modal" id="orderModal">

            <div class="modal-box">

                <div class="modal-header">

                    <div>

                        <p class="small-text">
                            NEW ORDER
                        </p>

                        <h2>
                            Create Manufacturing Order
                        </h2>

                    </div>


                    <button id="closeModal">
                        ×
                    </button>

                </div>


                <div class="form-grid">


                    <div>

                        <label>
                            Customer Name
                        </label>

                        <input
                            type="text"
                            id="customerInput"
                            placeholder="Enter customer name"
                        >

                    </div>


                    <div>

                        <label>
                            Product
                        </label>

                        <input
                            type="text"
                            id="productInput"
                            placeholder="Enter product"
                        >

                    </div>


                    <div>

                        <label>
                            Quantity
                        </label>

                        <input
                            type="number"
                            id="quantityInput"
                            placeholder="Enter quantity"
                        >

                    </div>


                    <div>

                        <label>
                            Order Date
                        </label>

                        <input
                            type="date"
                            id="dateInput"
                        >

                    </div>

                </div>


                <button class="new-order" id="saveOrderBtn">
                    Create Order
                </button>

            </div>

        </div>
