<aside class="sidebar">

        <div class="logo">
            <span>◈</span>
            OrderCraft
        </div>

        <p class="menu-title">OVERVIEW</p>

        <nav>
            <a href="#" id="dashboardLink" class="active">Dashboard</a>
        </nav>


        <p class="menu-title">OPERATIONS</p>

        <nav>
            <a href="#" id="ordersLink">Orders</a>
            <a href="#" id="productionLink">Planning</a>
            <a href="#" id="bomLink">BOM</a>
            <a href="#" id="inventoryLink">Materials</a>
            <a href="#" id="procurementLink">Procurement</a>
        </nav>


        <p class="menu-title">BUSINESS</p>

        <nav>
            <a href="#" id="suppliersLink">Suppliers</a>
        </nav>


        <p class="menu-title">FINANCE</p>

        <nav>
            <a href="#" id="invoiceLink">Invoices</a>
            <a href="#" id="paymentsLink">Payments</a>
        </nav>


        <p class="menu-title">INSIGHTS</p>

        <nav>
            <a href="#" id="analyticsLink">Analytics</a>
        </nav>

    </aside>
