<section class="bom-page" id="bomPage">

    <div class="page-heading">

        <div>
            <p class="small-text">MANUFACTURING</p>

            <h1>Bill of Materials</h1>

            <p>
                Define materials required to manufacture each product.
            </p>
        </div>

        <button class="new-order" id="createBomBtn">
            + Create BOM
        </button>

    </div>


    <div class="panel">

        <div class="panel-header">

            <div>
                <h2>Product BOMs</h2>
                <p>Materials required for production</p>
            </div>

        </div>


        <table id="bomTable">

            <thead>
                <tr>
                    <th>BOM ID</th>
                    <th>PRODUCT</th>
                    <th>MATERIALS</th>
                    <th>VERSION</th>
                    <th>STATUS</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>BOM-001</td>
                    <td>Office Chair</td>
                    <td>4 Materials</td>
                    <td>v1.0</td>
                    <td>
                        <span class="status completed-status">
                            Active
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>BOM-002</td>
                    <td>Wooden Desk</td>
                    <td>5 Materials</td>
                    <td>v1.2</td>
                    <td>
                        <span class="status completed-status">
                            Active
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>BOM-003</td>
                    <td>Storage Cabinet</td>
                    <td>6 Materials</td>
                    <td>v1.0</td>
                    <td>
                        <span class="status completed-status">
                            Active
                        </span>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</section>
